@font-face {
  font-family: "coder";
  src: local("coder"), url(VT323-Regular.ttf) format("truetype");
}

body {
  font-family: coder !important;
  display: flex;
}

h1, h2, h3, h4, h5, span, p, button {
  font-family: coder !important;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}

.border-left {
    width: 80px;
    height: 790px;
    position:  absolute;
    background-color: white;
    z-index: +2;
}

.border-right {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;
}

.border-top {
    width: 660px;
    height: 50px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    top: -50px;
}

.sky {
    background-image: url('sky-background.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.scoreboard {
    top: 50px;
    left: 200px;
    position: absolute;
    z-index: +2;
}

.welcome {
    top: 100px;
    left: 165px;
    position: absolute;
    z-index: +2;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 10px;
    text-align: center;
}

.ground {
    background-image: url('bottom.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.bird {
    background-image: url('aswang.png');
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px;
}

.obstacle {
    background-image: url('pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.topObstacle {
    background-image: url('pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

@keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }

  @-webkit-keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }

  .ground-container {
      height: 150px;
      width: 580px;
      left: 80px;
      position:  absolute;
  }

  .ground-moving {
    position: absolute;
    top: 580px;
    height: 150px;
    background-image: url('bottom.png');
    background-repeat: repeat-x;
    animation: slideright 100s infinite linear;
    -webkit-animation: slideright 100s infinite linear;
    width: 100%;
    z-index: +1;
  }
